.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
}

.todo-list {
  width: 400px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 400px; 
  overflow-y: scroll;
  margin-bottom: 20px; 
}

.todo {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.todo:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.completed-tasks {
  display: block;
  margin-top: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

button[type='submit'] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #3e8e41;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-form {
  position: absolute;
  bottom: 100px;
}

.todo-text {
  display: inline-block;
  word-wrap: break-word;
  max-width: 330px;
}

.completed-task{
  word-wrap: break-word;
  max-width: 330px;
}